body {
    background-color: #9191E9;
    font-family: montserrat;
    }

h1 {
    text-align: center;
}

.titulo {
    font-weight: 700px;
    text-align: center;
}

.descricao {
    width: 80%;
    height: 300px;
    
 }

#foto {
    width: 290px;
    float: left;
    padding: auto;
    margin-right: 40px;
}

.destaque {
    color: blue;
    font-weight: bold;
}



